<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- With async pipe -->
  <!-- <ng-container *ngIf="rssFeed$ | async as feed"> -->
  <!--   <ion-item *ngFor="let item of feed.items">    -->
  <!--     <ion-label>                                 -->
  <!--       <h1>{{item.title}}</h1>                   -->
  <!--       <p>{{item.authors[0]}}</p>                -->
  <!--     </ion-label>                                -->
  <!--   </ion-item>                                   -->
  <!-- </ng-container>                                 -->

  <ng-container *rxLet="rssFeed$; let feed; rxSuspense: suspenseTpl">
    <ion-item *ngFor="let item of feed?.items">
      <ion-label>
        <h1>{{item.title}}</h1>
        <p>{{item.authors[0]}}</p>
      </ion-label>
    </ion-item>
  </ng-container>

  <ng-template #suspenseTpl>
    Loading...
  </ng-template>

</ion-content>
